<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>M.Vidal Work</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./experience.html" title="">03 : Experience</a></li>
          <li><a href="./education.html" title="">04 : Education</a></li>
          <li><a href="./contact.html" title="">05 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
            <li><a href="./work7.html" title="">007</a></li>
            <li><a href="./work8.html" title="">008</a></li>
            <li><a href="./work9.html" title="">009</a></li>
            <li><a href="./work10.html" title="">010</a></li>
            <li><a href="./work11.html" title="">011</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">006 : Reconhecimento Facial na Identificação de Responsáveis por Racismo e Violência em Estádios English: Facial Recognition in Identifying Perpetrators of Racism and Violence in Stadiums (Portuguese)</h1>
          </div>
          <p>O futebol é o esporte mais jogado e conhecido no mundo e atrai muitos torcedores ao redor dele. De países desenvolvidos à países em extrema pobreza, crianças, jovens e adultos se reúnem frequentemente para socializar-se e praticar esse esporte. No Brasil, a série A (também chamado de Campeonato Brasileiro ou Brasileirão), é considerado o principal campeonato nacional. O Brasileirão é um campeonato de pontos corridos e muito competitivo onde vários times são favoritos para o título. Essa competitividade é excelente para o campeonato e para os torcedores.<br><br>

          Com o passar dos anos, o número de torcedores no Brasil cresceu exponencialmente. Esse crescimento é ótimo para os campeonatos e para os clubes que engordam suas receitas com venda de ingressos, uniformes e outros. Porém, o crescimento de torcedores, também traz consigo uma estatística preocupante: o alto índice de violência e atos de racismos em estádios de futebol.<br><br>


          Os casos de racismo referente a esse período aumentaram drasticamente. Os dados apontam que em todo ano de 2021, ocorreu 64 casos de racismo no futebol brasileiro. Em agosto de 2022, os casos igualaram ao patamar de 2021, consequentemente atingindo um novo recorde até o final de 2022. Atualmente o futebol brasileiro totaliza quase 350 casos nos de 2014 a 2021 (Tabela 1). Chegando a mais 400 denúncias até final de 2022. Fonte: RELATÓRIO DA DISCRIMINAÇÃO RACIAL NO FUTEBOL, (2022) <br><br></p>

          <div class="">
            <div class="">
              <img src="./static/assets/images/tabela.jpg" class="img-responsive" alt="">
            </div>
          </div><br>

          

          <p>O programa desenvolvido impedirá torcedores identificados em atos de violência e racismo de frequentar jogos futuros. A identificação desses torcedores será nas entradas dos estádios onde ao passar na catraca, o programa irá bloqueá-los caso tenham registro no sistema.<br><br>

          A máquina preditiva irá detectar se o individuo está em nossa base de dados através de reconhecimento facial. O programa será desenvolvido na linguagem Python, com conexão em uma base de dados online e a utilização de uma API de reconhecimento facial chamada face_recognition.<br><br>

          A biblioteca Python face_recognition é um pacote popular de código aberto que fornece uma interface simples e intuitiva para executar tarefas de reconhecimento facial. Ele é construído sobre dlib, uma biblioteca C++ conhecida por sua eficácia na detecção de face e extração de recursos.
          Ao importar a biblioteca face_recognition em seu código Python, você obtém acesso a várias funções e classes que facilitam as tarefas de reconhecimento facial, como detecção facial, extração de recursos faciais, comparação facial e codificação facial.

          Uma vez que detectado, irá aparecer todas as informações do torcedor como mostra abaixo:<br><br></p>

          <div class="">
            <div class="">
              <img src="./static/assets/images/elon.jpg" class="img-responsive" alt="">
              <p>STD calculation Step by Step</p>
            </div>
          </div><br>

          

          <p>Segundos depois de encontrar os dados do torcedor em nosso sistema, irá aparecer uma mensagem dizendo que o indivíduo está proibido de entrar nos estágios.<br><br>
          </p>
          
          <div class="">
            <div class="">
              <img src="./static/assets/images/elonx.jpg" class="img-responsive" alt="">
            </div>
          </div><br>

          

          <p>Para torcedores não cadastrados em nosso sistema, é porque não cometeram nenhum ato de infração dentro dos estádios. A máquina irá enviar uma mensagem imediatamente liberando a entrada do torcedor como mostra na imagem abaixo.</p><br><br>

          <div class="">
            <div class="">
              <img src="./static/assets/images/rock.jpg" class="img-responsive" alt="">
            </div>
          </div><br>

          

          <p>O estudo permitiu compreender que apesar da inteligência artificial ser um grande potencial para estabelecer paz nos estádios de futebol, ainda há necessidade de uma jurisdição rígida e de toda política de segurança implementada. A implementação da inteligência artificial nos estádios de futebol mostrou-se promissora na prevenção de distúrbios e confrontos entre torcedores, mas é importante ressaltar que seu sucesso depende de uma combinação eficiente entre tecnologia e medidas regulatórias. Embora a IA possa identificar comportamentos suspeitos, monitorar multidões e detectar possíveis ameaças de maneira rápida e precisa, uma jurisdição rígida é fundamental para estabelecer limites e garantir que os direitos individuais sejam respeitados.</p><br><br>
        </p>
        </div>
      </div>

          

          <!-- <blockquote>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <small class="pull-right">Irina Martin</small>
          </blockquote> -->
        </div>
       
     <!--  <div class="col-xs-12">
        <img src="./static/assets/images/work001-04.jpg" class="img-responsive" alt="">
      </div> -->

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© MVJR | Template download from Mashup and modified by Moacir Vidal</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>